In [4]:
import pandas as pd

In [6]:
pd.read_csv('data/250506_CD-temps-tfs/CDT10/CDT10.1.csv')

,Distance 1,Height 1,Distance 2,Height 2,Distance 3,Height 3,Distance 4,Height 4,Distance 5,Height 5,Distance 6,Height 6,Distance 7,Height 7
0,0.000000,0.726013,0.000000,0.828323,0.000000,0.594101,0.000000,1.547317,0.000000,0.697327,0.000000,0.819397,0.000000,0.498810
1,0.006382,0.726013,0.006382,0.827866,0.006381,0.594254,0.006382,1.542969,0.006382,0.697861,0.006382,0.819015,0.006382,0.496292
2,0.012764,0.726013,0.012765,0.827332,0.012764,0.594559,0.012765,1.538391,0.012764,0.698471,0.012764,0.818634,0.012765,0.493774
3,0.019146,0.725937,0.019147,0.826645,0.019146,0.594940,0.019147,1.533432,0.019146,0.699158,0.019146,0.818176,0.019147,0.491257
4,0.025528,0.725861,0.025528,0.825806,0.025528,0.595322,0.025528,1.528168,0.025528,0.699921,0.025528,0.817642,0.025528,0.488815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490,9.509803,1.480255,9.509701,1.539917,9.509924,1.418228,NaN,NaN,NaN,NaN,9.510298,1.493683,NaN,NaN
1491,9.516185,1.480255,9.516084,1.539841,9.516305,1.419601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1492,9.522568,1.480255,9.522465,1.539688,9.522687,1.420746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1493,9.528950,1.480255,9.528847,1.539612,9.529069,1.421738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1494,NaN,NaN,NaN,NaN,9.535451,1.422501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN